In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# 1. Load the data of interest

observation = pd.read_csv('observations.csv')
species = pd.read_csv('species_info.csv')

In [58]:
# 2.View the columns and firt few sets of data for species table

species.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

In [9]:
#2b.View the columns and firt few sets of data for observation table

observation.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [57]:
# 3. how many items are in each column for species table?

print('There are ' + str (len(species.category.dropna())) + ' items in category')
print('There are ' + str (len(species.scientific_name.dropna())) + ' items in scientific_name')
print('There are ' + str (len(species.common_names.dropna())) + ' items in common_names')
print('There are ' + str (len(species.conservation_status.dropna())) + ' items in conservation_status')

There are 5824 items in category
There are 5824 items in scientific_name
There are 5824 items in common_names
There are 191 items in conservation_status

In [52]:
len(species)- len(species.conservation_status.dropna())

5633